.section {
  background-color: var(--color-primary);
}

.container {
  display: flex;
  gap: 2rem;
  align-items: end;
  width: var(--max-width);
  height: 100%;
  margin: var(--padding-section) auto;
  border: 5px solid red;
}

.textContent {
  flex: 3;
}

.textContent h3 {
  color: var(--color-secondary);
}

.textContent h1 {
  color: white;
}

.textContent p {
  color: white;
}

.clientsContent {
  display: flex;
  flex: 8;
  gap: 1rem;
  margin-bottom: 25px;
  /* faz as duas divs ocuparem 100% da altura do container */
  /* align-self: stretch; */
  /* width: 100%; */
  border: 2px solid black;
}

.client {
  padding: 1rem;
  background-color: white;
}

.client img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
