.button {
  padding: 0.75rem 1.5rem;
  color: white;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  /* Se você quiser escurecer levemente em vez de clarear: color-mix(in srgb, var(--color-primary), black 10%);*/
  background-color: color-mix(in srgb, var(--color-secondary), black 10%);
}
