/* 
.about h1{
  color: red;
}

.about h3{
  color: blue;
}

.about span{
  font-weight: 900;
  color: green;
}
 */

.about {
  display: flex;
}

.missionEvalues {
  display: flex;
}

.mission,
.values {
  flex: 1;
}

.mission img{
  width: 100%;
}

.skills {
  display: flex;
}

.skill {
  border: 2px solid black;
  display: flex;
}

.skill img {
  width: 100%;
}
