.section {
  padding: var(--padding-section);
}

.cards {
  display: flex;
  gap: var(--spacing-sm);
  justify-content: center;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.card:nth-child(1) {
  background-color: #f0c020;
}

.card:nth-child(2) {
  background-color: #feab49;
}

.card:nth-child(3) {
  background-color: #fd8443;
}

.card:nth-child(4) {
  background-color: #fc5d3d;
}

.card img {
  width: auto;
  height: 90px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
}

.cardText {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  align-items: center;
  text-align: center;
}

.cardText h4 {
  color: var(--color-base);
}

@media (max-width: 800px) {
  .card {
    max-width: 280px;
  }
}

@media (max-width: 700px) {
  .cards {
    flex-direction: column;
    width: 100%;
  }

  .card {
    flex: 1;
    max-width: 100%;
  }

  .cardDesc {
    height: 100%;
  }
}
