.navbar {
  position: fixed;
  width: var(--max-width);
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: all 0.3s ease;
  height: var(--navbar-height);
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  border: 1px solid white;
  font-size: var(--font-size-navbar);
  box-shadow: 0 8px 8px #0000003b;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrolled {
  top: 0;
  width: 100%;
  border-radius: 0;
  height: 2.2rem;
  padding: 0.2rem 2rem;
  border: none;
  background-color: var(--color-primary);
  background-image: url("../../assets/home/back-stripe-texture.jpg");
  background-position: center;
  background-size: cover;
}

.scrolled .logo {
  height: 24px;
}

.scrolled .links a {
  transition:
    font-size 0.3s,
    padding 0.3s;
}

.logo {
  display: block;
  height: 32px;
  width: 300px;
  background-color: white;
  mask-image: url("../../assets/logo-horizontal.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  cursor: pointer;
  transition: font-size 0.3s;
}

.links {
  display: flex;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: var(--font-weight-bold);
  transition: all 0.3s ease-in-out;
}

.links a:hover {
  background-color: var(--color-gray-medium);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  background: transparent;
}

.hamburger span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

/* Hamburguer Menu -------------- */
.ativo span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); /* gira e move */
}

.ativo span:nth-child(2) {
  opacity: 0;
}

.ativo span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
/* ------------------------------  */

@media (max-width: 800px) {
  .navbar {
    width: 100%;
  }

  .links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-gray-light);
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition:
      max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.3s;
    display: flex; /* sempre flex, controla pelo max-height */
    text-align: start;
    gap: 0;
  }

  .links a {
    padding: 1rem 2rem;
  }

  .links.active {
    max-height: 500px; /* valor suficiente para todos os links */
    opacity: 1;
  }

  .hamburger {
    display: flex;
  }
}
