.section {
  padding: var(--padding-section);
}

.container {
  display: flex;
  gap: var(--spacing-sm);
  /* border: 5px solid red; */
}

.header {
  flex: 0 0 28%;
  height: 100%;
  /* border: 4px solid blue; */
}

.cards {
  /* flex: 1; */
  display: flex;
  gap: var(--spacing-sm);
  justify-content: center;
}

.card {
  /* flex: 1 1 320px;  */
  /* max-width: 320px;  */
  width: 100%;
  height: 380px;
  padding: 0;
  /* cursor: pointer; */
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease;
  box-shadow: 4px 8px 8px #0000003b;
}

.hover {
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: var(--spacing-sm);
  background-color: #1c4273cd;
  color: var(--color-white);
  opacity: 0;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(8px);
}

.hover:hover {
  opacity: 1;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    gap: 0;
  }

  .header {
    text-align: center;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
  }

  .card {
    height: 180px;
  }

  .hover {
    background-color: #1c427369;
    backdrop-filter: blur(3px);
    opacity: 1;
  }
}
