:root {
  --color-primary: #3155a4;
  --color-secondary: #00af4c;
  --max-width: 1200px;
  --padding-section: 72px;
  --navbar-height: 65px;
}

/* Reset básico */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* Containers Base */
.section {
  border: 2px solid #d87093;
  /*  espaço do topo ao rolar até aqui */
  scroll-margin-top: 40px;
}

.container {
  /* width: 100%; */
  /* max-width: var(--max-width); */
  /* margin: 0 auto; */
}

/* Text Styles */
h1 {
  font-weight: 700;
  font-size: 2.49rem;
}

h2 {
  font-weight: 600;
  font-size: 2.07rem;
}

h3 {
  font-weight: 600;
  font-size: 1.73rem;
}

h4 {
  font-weight: 600;
  font-size: 1.44rem;
}

p {
  font-size: 18px;
}

/* Global Components Styles */
.card {
  padding: 1rem;
  border-color: var(--color-primary);
  border-style: solid;
  border-width: var(--border-width-sm);
  border-radius: var(--border-radius-md);
}

input,
textarea {
  font-family: var(--font-family-base);
}

@media (max-width: 700px) {
  html,
  body {
    font-size: 16px;
  }

  /* .section {
    padding: 0 1rem;
  } */
}
